*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
}

.container{
    width: 500px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3px;
}

button{
    font-size: 30px;
}

button:last-child{
    grid-row-start: 5;
    grid-column-start: 4;
    grid-row-end: 7;
}

input{
    grid-column-start: 1;
    grid-column-end:5;
    padding: 10px;
    font-size: 30px;
}